<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Route to millions - statement</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;subset=latin-ext" rel="stylesheet"> 
        <link rel="shortcut icon" href="favicon.ico.png">
        <link rel="icon" href="favicon.ico.png" type="image/x-icon">
        <link rel="stylesheet" href="style.css"        
    </head>
    
    <body>
        <div id="wrapper">
            <header>
               <h1>This is my first alpha-blog</h1>
               <img src="<%= asset_path 'dollar.jpg' %>"
            </header>
            <nav>
                <a class="menu active" href="<%= root_path %>">Home</a><a class="menu" href="#">About</a><a class="menu" href="#">II Week</a><a class="menu" href="#">III Week</a><a class="menu" href="#">StockClock®©</a></nav>
            <section>
                <article>
                    <h2><center>Some news</center></h2>
                    <p>
                        This will be interactive statement from my stock market account which provides you to the world of billionaire
                    </p>
                </article>
            </section>
            <footer>
                Powered by: PanMaciejStudio®<br>
                Contact: PMS@gmail.com
            </footer>
        </div>
    </body>
</html>