<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Route to millions - statement</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;subset=latin-ext" rel="stylesheet"> 
        <link rel="shortcut icon" href="favicon.ico.png">
        <link rel="icon" href="favicon.ico.png" type="image/x-icon">
        <link rel="stylesheet" href="style.css"        
    </head>
    
    <body>
        <div id="wrapper">
            <header>
               <h1>This is my first alpha-blog</h1>
               <img src="<%= asset_path 'dollar.jpg' %>"
            </header>
            <nav>
                <a class="menu active" href="#">Home</a><a class="menu" href="<%= about_path %>">About</a><a class="menu" href="#">II Week</a><a class="menu" href="#">III Week</a><a class="menu" href="#">StockClock®©</a></nav>
            <section>
                <article>
                    <h2><center>Some news</center></h2>
                    <p>
                        This will be interactive statement from my stock market account which provides you to the world of billionaire
                    </p>
                    <div id="first">
                       <p>
                           The Dow Jones Industrial Average DJIA, +0.31% rose 23 points, or 0.1%, to 24,902, having previously risen as high as 0.9% at about 25,120. The S&P 500 SPX, +0.40% added 1 point to 2,699, a rise of less than 0.1%. The Nasdaq Composite Index COMP, +0.71% was up 27 points to 7,170, a gain of 0.%. So far this week, the Dow is up 3% and on track for its biggest weekly percentage rise since around December. The S&P has climbed 3.1% and is set for its best week since December 2016. The Nasdaq is up 4.3%, which represents its best week since July 2015. Those gains come after sharp losses seen earlier this month, which pushed the Dow and S&P into correction territory, or a 10% drop from a peak. The three gauges stand between 4.7% and 6.6% below last months all-time highs. The selloff was sparked in part by rising bond yields amid signs of an uptick in inflation, with the higher yields luring money out of equities. Strategists have said the selloff was overdue, but it became overdone.</p>
                    </div>
                    <div id="second">
                        <p>
                             Bullish sentiment has rebounded sharply in the latest week, returning back above its long-term historical average for the ninth time of the past 10 weeks and nearing unusually high levels. According to the AAII Investor Sentiment Survey, 48.5% of polled investors said they were bullish on the market, meaning they expect prices to be higher in six months. Thats a jump of 11.5 percentage points from the previous survey, conducted last week, which had bullish sentiment at a two-month low and making a rare appearance below its long-term average of 38.5%. The ICE U.S. Dollar Index DXY, -0.41% was down 0.5% at 89.653, following a modest 0.1% gain late Monday in New York, with a climb in the euro—the largest component of the six-currency dollar index—representing the biggest driver of Tuesday’s move. The broader WSJ U.S. Dollar Index BUXX, -0.34% which gauges the greenback against 16 rivals, was off 0.4% at 83.49 on Tuesday. The euro EURUSD, +0.5188% was up at $1.2397, from $1.2336 late Monday, a level it hadn’t touched in two weeks, while the British pound GBPUSD, +0.2961% strengthened against the greenback to $1.3885 from $1.3846 before. The euro also strengthened against the pound EURGBP, +0.2582% last buying £0.8928, up 0.2% from Monday. The pair is a preferred indicator for sentiment surrounding the Brexit negotiations between the U.K. and EU. The dollar gave up its earlier modest gains against the Japanese yen USDJPY, +0.00% and dropped slightly to ¥106.19 versus ¥106.20 on Monday.
                        </p>
                    </div>
                </article>
            </section>
            <footer>
                Powered by: PanMaciejStudio®<br>
                Contact: PMS@gmail.com
            </footer>
        </div>
    </body>
</html>